.swiper-slide {
  border: 1px solid #D1D5DB;
  border-radius: 10px;
}
.swiper-slide img{
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  object-position: 50% 50%;
}

.mySwiper .swiper-slide-thumb-active {
  border: 1px solid #f7971e;
}
.mySwiper .swiper-slide {
  border-radius: 10px;

}
.swiper-button-next, .swiper-button-prev {
  color: #f7971e!important;
}