
.detail-product {
  width: 100%;
    .qp-container {
        background: #ffffff;
        height: 2000px;
        padding: 10px;
    }
    &__name {
      font-weight: bold;
      margin: 10px 0;
    }
  &__left {
    width: 33%;
    img {
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
    }
  }
  &__center {
    width: 33%;

    .special-price {
      display: inline-block;
      margin-bottom: 10px !important;
      font-size: 1.3rem;
      font-weight: 700;
      color: #d70018;
      font-size: 16px;
    }
    .old-price {
      display: inline-block;
      margin: 0 0 10px 10px !important;
      font-size: 1rem;
      text-decoration: line-through;
      color: #707070;
      font-size: 14px;
    }
    .box-linked {
      display: grid;
      grid-template-columns: repeat(3,1fr);

      .item-linked {
        padding: 12px 20px;
        text-decoration: none;
        border: 1px solid #eeeff1;
        margin-right: 8px;
        margin-bottom: 8px;
        border-radius: 10px;
        color: #444444;;
        text-align: center;
      }
      strong {
        font-size: 12px;
        width: 100%;
        text-align: center;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-weight: bold;
      }
      span {
        font-size: 12px;
        
      }
    }
  }
  &__right {
    width: 33%;
    .box-title{
      font-weight: bold;
    }
    .box-warranty-info {
      padding: 8px;
    }
  }
}
