.header-overlay {
    position: fixed; 
    visibility: hidden; 
    width: 100%;
    height: 100%; 
    top: 65px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
    cursor: pointer; 
    transition: .15s ease-in-out;
}
.header-overlay.active {
    visibility: visible;
    opacity: 1;
    transition: .15s ease-in-out;
}
.box-search-wrapper {
   position: relative;
    z-index: 11;
    width: 26%;
    .box-search {
        &:active .overlay , &:focus .overlay{
            display: block;
        }
    }
        input {
            width: 100%;
           border-radius: 10px;
            
            border: none;
            outline: none;
            padding: 7px 15px;
            text-align: center;
            transition: .35s ease-in-out;
           &:focus {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            transition: .35s ease-in-out;
           }
    }
    .box-search-result {
        z-index: 99;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        height: auto;
        background-color: #fff;
        padding: 0;
        margin: 0;
        color: black;
        height: 400px;
        overflow: hidden;
        overflow-y: auto;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
       
        
        .product-img {
            height: 80px;
            width: 80px;
            img {
                object-fit: cover;
                width: 100%;
            }
        }
    }
}
svg {
    font-size: 20px;
}
.cart {
    width: 122px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 18px;
    position: relative;
    &__count {
        position: absolute;
        top: 5px;
        right: -5px;
        background: #eee;
       height: 23px;
       width: 23px;
       display: flex;
       justify-content: center;
       align-items: center;
       text-align: center;
        border-radius: 100%;
        font-size: 15px;
        font-weight: bold;
        color: #000;
    }
  .border {
      padding: 8px;
      border-radius: 5px;
  }
    p {
        margin: 0 0 0 5px;
        
    }
    &:hover {
        color: #000;
        font-weight: bold;
       
        .border {
            background-color: #f7971e;
            outline: none;
            border: none;
            
        }
        svg {
            font-weight: bold;
        }
        .cart__count {
            background: #f7971e;
        }
    }
}